<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Find me challenge</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<style>
.jumbotron { 
  background-color: #CBE8F3; /* blue */
  color: #ffffff;
}
.header_center {
  margin: auto;
  padding: 10px;
	color: #80C8EC;
  text-shadow: 3px 2px #3581A8;
}
</style>
	  
<body>
<header class="navbar navbar-default">

<div class="header_center">
  <h1 style="font-family:serif;"> Find me challenge
  </h1>
</div>


</header>
<div class="jumbotron text-center">

<form action="/upload" method="post" enctype="multipart/form-data" >
    <label class="btn btn-default btn-file">
        Browse <input <input type="file" name="image" style="display: none;">
    </label>
    <input type="submit" value="Upload your image" class="btn btn-primary">
</form>

<div class="text-center">
    {% if init %}
        {% if uploaded_success %}
            <div class="alert alert-success" style="margin-top:18px;">
                <strong>Success!</strong> Your image was upload successfully
            </div>
        {% else %}
            <div class="alert alert-danger" style="margin-top:18px;">
                <strong>Error</strong> Your image was not uploaded!
            </div>
        {% endif %}
    {% endif %}
</div>
</div>

</body>
</html>



</html>