<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,minimal-ui,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Gene</title>

    <link rel="stylesheet" href="/static/css/styles.css?rnd=12"/>

    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(52246906, "init", { id:52246906, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/52246906" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

</head>
<body>
    <div class="container">
        <div class="screen geneHidden" id="startScreen">
            <div class="onboardingContent">
                <img src="/static/img/onboarding3.png" onclick="openFacesScreen()" />
            </div>
            <div class="onboardingStart">
                <div class="geneBtn" onclick="openFacesScreen()">
                    Start
                </div>
            </div>
        </div>
        <div class="screen geneHidden" id="facesScreen">
            <div class="header">
                Select photo of you or your friends
            </div>
            <div class="content">
                <div class="contentBody">
                    <div id="facesDiv">
                        
                    </div>
                    <div class="genePlus" onclick="selectFacePhoto()">
                    </div>
                </div>
                <div class="actionButtons">
                    <div></div>
                    <div></div>
                     <div class="geneBtn" onclick="openCrowdScreen()">
                        Next
                    </div>
                </div>
            </div>
        </div>
        <div class="screen geneHidden" id="crowdScreen">
            <div class="header">
                Choose the crowd
            </div>
            <div class="content">
                <div class="crowdList gene-custom-scroll">
                    <div class="genePlus" onclick="selectCrowdPhoto()">
                    </div>
                </div>
                <div class="actionButtons">
                    <div class="geneBtn bordered" onclick="popScreen()">
                        Back
                    </div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="screen geneHidden" id="cookingScreen">
            <div class="header">
                Make a mix!
            </div>
            <div class="content">
                <div class="contentBody">
                    <div id="cookingFaces">
                    </div>
                    <div id="cookingCrowd">
                    </div>
                </div>
                <div class="actionButtons">
                    <div class="geneBtn bordered" onclick="popScreen()">
                        Back
                    </div>
                    <div></div>
                    <div class="geneBtn" id="mixBtn" onclick="mixSelectedPhotos()">
                        Mix!
                        <div class="geneBtnLoading">
                            <div class="geneSpinner">Loading...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen geneHidden" id="resultScreen">
            <div class="header">
                <span>
                    Great job!
                    <br>
                    Share result and <b>tag friends</b>!
                </span>
                <div class="geneFlexDumb"></div>
                <div class="answerIcon" id="answerBtn">
                    <img class="openedEye" src="/static/img/opened-eye.svg" />
                    <img class="closedEye" src="/static/img/closed-eye.svg" />
                </div>
                <svg transform="scale(1.5)" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" width="21px" height="21px" viewBox="0 0 21 21" enable-background="new 0 0 21 21" xml:space="preserve" onclick="resetScreens()">
                    <g>
                        <path d="M16.615,10.368c0-3.372-2.744-6.116-6.115-6.116c-3.375,0-6.117,2.743-6.117,6.116c0,3.372,2.744,6.115,6.117,6.115
                            v-2.262l5.779,2.889L10.5,20.001v-2.266c-4.062,0-7.369-3.305-7.369-7.366C3.131,6.305,6.438,3,10.5,3
                            c4.062,0,7.367,3.305,7.369,7.368H16.615z"></path>
                        <g opacity="0.4">
                            <path fill="#FFFFFF" d="M10.5,3c4.062,0,7.367,3.305,7.369,7.368h-1.254c0-3.372-2.744-6.116-6.115-6.116
                                c-3.375,0-6.117,2.743-6.117,6.116c0,3.372,2.744,6.115,6.117,6.115v-2.262l5.779,2.889L10.5,20.001v-2.266
                                c-4.062,0-7.369-3.305-7.369-7.366C3.131,6.305,6.438,3,10.5,3 M10.5,2L10.5,2c-4.615,0-8.369,3.755-8.369,8.369
                                c0,4.275,3.224,7.812,7.369,8.307v1.325v1.618l1.447-0.724l5.779-2.891l1.789-0.895l-1.789-0.894l-5.779-2.889L9.5,12.604v1.618
                                v1.164c-2.345-0.466-4.117-2.539-4.117-5.017c0-2.821,2.296-5.116,5.117-5.116c2.82,0,5.115,2.295,5.115,5.116v1h1h1.254h1v-1
                                C18.867,5.754,15.112,2,10.5,2L10.5,2z"></path>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="content">
                <div class="contentBody">
                </div>
                <div class="actionButtons">
                    <div class="geneBtn bordered" onclick="backFromResult()">
                        Back
                    </div>
                    <div></div>
                    <div class="geneBtn" id="shareBtn">
                        Share
                    </div>
                </div>
            </div>
        </div>
        <div class="progress-steps geneHidden" id="progressSteps">
            <div class="progress-steps__step progress-steps__step--active" id="facesScreenStep">
                <div class="progress-steps__point"></div>
            </div>
            <div class="progress-steps__step" id="crowdScreenStep">
                <div class="progress-steps__gutter">
                    <div class="progress-steps__value"></div>
                </div>
                <div class="progress-steps__point"></div>
            </div>
            <div class="progress-steps__step" id="cookingScreenStep">
                <div class="progress-steps__gutter">
                    <div class="progress-steps__value"></div>
                </div>
                <div class="progress-steps__point"></div>
            </div>
             <div class="progress-steps__step" id="resultScreenStep">
                <div class="progress-steps__gutter">
                    <div class="progress-steps__value"></div>
                </div>
                <div class="progress-steps__point"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/fetch.umd.js"></script>
    <script type="text/javascript" src="/static/js/promise.min.js"></script>
    <script type="text/javascript" src="/static/js/impetus.js?rnd=1"></script>
    <script type="text/javascript" src="/static/js/pinch-zoom-canvas.js?rnd=5"></script>
    <script type="text/javascript" src="/static/js/index.js?rnd=15"></script>
</body>
</html>
