<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Secrets out challenge</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://github.com/rvera/image-picker/blob/master/image-picker/image-picker.css">
	
	</head>
<style>
.jumbotron { 
  background-color: #CBE8F3; /* blue */
  color: #ffffff;
}
.header_center {
  margin: auto;
  padding: 10px;
	color: #80C8EC;
  text-shadow: 3px 2px #3581A8;
}
.image {
  width: 200px;
  height:200px;
  float:left;
  margin:10px;
}
.selected {
  border:3px solid #00ff00;
}
	.add1 {
	height: 1500px;
	}
	.empty_row {
	height: 50px; 
	}
	.hiding{
	display: none;
	}
	.image_size {
	width: 70%; 
	}
</style>
	  
<body>
<header class="navbar navbar-default">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<div class="header_center">
  <h1 style="font-family:serif;"> Secrets out challenge
  </h1>
</div>


</header>
<div class="jumbotron text-center add1">
<div class="row">
	<div class="col">
		<form action="/create_mix" method="post" enctype="multipart/form-data" >
			<div class="row empty_row">	<div class="col">
				 <input type="file" name="image_selfie" class="btn btn-primary">
			</div></div>
			<div class="row empty_row">	<div class="col">
				<input type="file" name="image_crowd" class="btn btn-primary">
			</div></div>
				{% if created_success %}
			<div class="row empty_row">	<div class="col">
				<input id="show_answer_id" type="button" value="Show answer" class="btn btn-warning" onclick="show_answer()">
				<input id="return_to_mix_id" type="button" value="Show mix" class="btn btn-primary" onclick="return_ro_mix()" style="display: none;">
			</div></div>
				{% else %}
			<div class="row empty_row">	<div class="col">
				<input id="create_mix_id" type="submit" value="Create mix" class="btn btn-primary">
			</div></div>

				{% endif %}
		</form>

	</div>
</div>
	<div class="row">
		<div class="col">
			{% if init %}
				{% if created_success %}
					<img id='result_img' src="{{result_filename}}" class="rounded image_size" >
					<img id='answer_img' src="{{answer_filename}}" class="rounded image_size" style="display: none;" >
				{% endif %}
			{% endif %}
		</div>
	</div>

</div>
				<script>
					function show_answer() {
						document.getElementById("answer_img").style.display = "inline";
						document.getElementById("result_img").style.display = "none";
						document.getElementById("return_to_mix_id").style.display = "inline";
						document.getElementById("show_answer_id").style.display = "none";
						document.getElementById("return_to_mix_id").onclick=return_to_mix;
					}

				</script>
				<script>
					function return_to_mix() {
						document.getElementById("answer_img").style.display = "none";
						document.getElementById("result_img").style.display = "inline";
						document.getElementById("return_to_mix_id").style.display = "none";
						document.getElementById("show_answer_id").style.display = "inline";
						document.getElementById("show_answer_id").onclick=show_answer;
					}
				</script>
</body>
</html>
